matcher/*.o
linker/*.o
b20_method/
sample_data/
matcher/*.out
linker/*.out
*.out
*.o
*~
linker/dummy.cpp
*.save
*.h5
*.dat
matcher/matcher
linker/linker
test_matcher/
linker/linker_params*
linker/linker2*
linker/run_linker*
matcher/run_matcher*
matcher/run_cor*
src/linker/linker
src/matcher/matcher
latex/
html/
Doxyfile.bak
backup.txt
/scripts/
.DS_Store
*.zip